test-output/
target/
*.log
screens/
.metadata/
.settings/
.project
.classpath
*/allure-results
*.iml
.idea/
/.idea/ant.xml
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/libraries/Maven__cglib_cglib_nodep_2_1_3.xml
/.idea/libraries/Maven__com_beust_jcommander_1_12.xml
/.idea/libraries/Maven__com_google_code_findbugs_jsr305_1_3_9.xml
/.idea/libraries/Maven__com_google_guava_guava_11_0_1.xml
/.idea/libraries/Maven__com_sun_tools_1_0_SNAPSHOT.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_4.xml
/.idea/libraries/Maven__commons_collections_commons_collections_3_2_1.xml
/.idea/libraries/Maven__commons_io_commons_io_2_0_1.xml
/.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_1_1.xml
/.idea/libraries/Maven__junit_junit_3_8_1.xml
/.idea/libraries/Maven__net_java_dev_jna_jna_3_4_0.xml
/.idea/libraries/Maven__net_java_dev_jna_platform_3_4_0.xml
/.idea/ant.xml
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/libraries/Maven__cglib_cglib_nodep_2_1_3.xml
/.idea/libraries/Maven__com_beust_jcommander_1_12.xml
/.idea/libraries/Maven__com_google_code_findbugs_jsr305_1_3_9.xml
/.idea/libraries/Maven__com_google_guava_guava_11_0_1.xml
/.idea/libraries/Maven__com_sun_tools_1_0_SNAPSHOT.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_4.xml
/.idea/libraries/Maven__commons_collections_commons_collections_3_2_1.xml
/.idea/libraries/Maven__commons_io_commons_io_2_0_1.xml
/.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_1_1.xml
/.idea/libraries/Maven__junit_junit_3_8_1.xml
/.idea/libraries/Maven__net_java_dev_jna_jna_3_4_0.xml
/.idea/libraries/Maven__net_java_dev_jna_platform_3_4_0.xml
/.idea/libraries/Maven__cglib_cglib_nodep_2_1_3.xml
/.idea/libraries/Maven__com_beust_jcommander_1_12.xml
/.idea/libraries/Maven__com_google_code_findbugs_jsr305_1_3_9.xml
/.idea/libraries/Maven__com_google_guava_guava_11_0_1.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_4.xml
/.idea/libraries/Maven__commons_collections_commons_collections_3_2_1.xml
/.idea/libraries/Maven__commons_io_commons_io_2_0_1.xml
/.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_1_1.xml
/.idea/libraries/Maven__junit_junit_3_8_1.xml
/.idea/libraries/Maven__net_java_dev_jna_jna_3_4_0.xml
/.idea/libraries/Maven__net_java_dev_jna_platform_3_4_0.xml
/.idea/libraries/Maven__net_sourceforge_cssparser_cssparser_0_9_5.xml
/.idea/libraries/Maven__net_sourceforge_htmlunit_htmlunit_2_9.xml
/.idea/libraries/Maven__net_sourceforge_htmlunit_htmlunit_core_js_2_9.xml
/.idea/libraries/Maven__net_sourceforge_nekohtml_nekohtml_1_9_15.xml
/.idea/libraries/Maven__org_apache_commons_commons_exec_1_1.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_1_2.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_1_2.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpmime_4_1_2.xml
/.idea/libraries/Maven__org_beanshell_bsh_2_0b4.xml
/.idea/libraries/Maven__org_json_json_20080701.xml
/.idea/libraries/Maven__org_testng_testng_6_3_1.xml
/.idea/libraries/Maven__org_w3c_css_sac_1_3.xml
/.idea/libraries/Maven__org_yaml_snakeyaml_1_6.xml
/.idea/libraries/Maven__sun_jdk_plugin_1_6.xml
/.idea/libraries/Maven__xalan_serializer_2_7_1.xml
/.idea/libraries/Maven__xalan_xalan_2_7_1.xml
/.idea/libraries/Maven__xerces_xercesImpl_2_9_1.xml
/.idea/libraries/Maven__xml_apis_xml_apis_1_3_04.xml
/.idea/misc.xml
*.iml
*.iml
*.iml
*.iml
*.iml
*.iml
*.iml
*.iml
*.iml
*.iml
*.iml
*.iml
*.iml
*.iml
*.iml
*.iml
*.iml
*.iml
*.iml
*.iml
*.iml
*.iml
*.iml
*.iml
*.ini

/brand-clients/all-brands/*.iml

/brand-clients/all-brands/all-brands.iml

.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
webdriver-tests.iml
webdriver-tests.iml